<!DOCTYPE html>
<html>
  <head>
    <title>Howtube</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://use.fontawesome.com/919c5a58db.js"></script>
  </head>

  <body>
    <%= yield %>

  </body>
</html>
